<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish Delish</title>
    
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                alert(messages);
            </script>
        {% endif %}
    {% endwith %}
    <header>
        <nav class="navbar">
            <a href="{{ url_for('index') }}" class="nav_links nav_but">Home</a>
            <a href="{{ url_for('catalogue') }}" class="nav_links nav_but">Catalogue</a>
            <a href="{{ url_for('about') }}" class="nav_links nav_but">About</a>
        </nav>
        <div class="dropdown_menu">
            <li><a href="{{ url_for('index') }}" class="nav_links nav_but">Home</a></li>
            <li><a href="{{ url_for('catalogue') }}" class="nav_links nav_but">Catalogue</a></li>
            <li><a href="{{ url_for('about') }}" class="nav_links nav_but">About</a></li>
        </div>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars"></i>
        </div>
        <a href="{{ url_for('index') }}">
            <h1>Dish Delish</h1>
        </a>
        <nav>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('dashboard', username=current_user.username) }}" class="nav_links account"><i class="fa-regular fa-user"></i></a>
                <a href="{{ url_for('logout_call') }}" class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            {% else %}
                <a href="{{ url_for('login_page') }}" class="login"><i class="fa-solid fa-right-to-bracket"></i></a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 DD. All rights reserved.</p>
        <div class="socials">
            <p>Follow me:</p>
            <a href="https://github.com/mgordilov" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.facebook.com/mgordilov" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/m.gordilov" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </footer>
    <script src="/static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/62b05945c2.js" crossorigin="anonymous"></script>
</body>
</html>